:root {
    --cor-primaria: #e4e4e4;
    --cor-secundaria: #272727;
    --cor-terciaria: #372eb5;
    --fonte-primaria: "Dosis", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    font-family: helvetica;
    box-sizing: border-box;
    font-family: var(--fonte-primaria);
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color:var(--cor-terciaria);
}
.logo{
    display: flex;
    margin-left: 35px;
    text-decoration: none;
    height: 40px;
    align-items: center;
    font-size: 14px;
    color: var(--cor-primaria);
    font-weight: bold;
    letter-spacing: 1px;
}
.navbar-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 80px;
    margin-right: 60px;
    padding: 0px 1em 0px 1em;
    column-gap: 10px;
}
.navbar-content li, .navbar-content li a{
    display: flex;
    line-height: 35px;
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 14px;
}
/* .navbar-content li:hover{
} */
.nav-btn{
    background-color: var(--cor-terciaria);
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria) !important;
}
.nav-btn:hover{
    border: 1px solid #372eb5;
    transition: border-color 0.3s ease;
}
.main-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-secundaria);
    height: 200px;
    color: var(--cor-primaria);
    width: 100%;
}
.main-background h1{
    font-size: 65px;
    letter-spacing: 5px;
}
.main-background p{
    font-size: 28px;
    text-align: center;
}
.section-beneficios{
   display: flex;
   padding: 5em 1em;
   background-color: var(--cor-primaria);
}
.box-beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 2em 0 2em;
}
.icons-beneficios{
    color:var(--cor-terciaria);
    font-size: 100px;
    margin-bottom: 15px;
}
.box-beneficios h3{
    margin-bottom: 5px;
    color: var(--cor-terciaria);
    font-weight: bold;
}
.box-beneficios p{
    font-size: 16px;
    width: 80%;
    color: var(--cor-secundaria);
}
.section-plans{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--cor-secundaria);
}
.text-plans{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
}
.section-plans h3{
    font-size: 50px;
    color: var(--cor-primaria);
}
.section-plans p{
    font-size: 20px;
    color: var(--cor-primaria);
    text-align: center;
}
.box-plans{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px 0px;
}
.content-plan{
    display: flex;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
    background-color: var(--cor-terciaria);
    border: 3px solid #372eb5;
    border-radius: 5px;
    height: 450px;
    width: 300px;
    text-align: center;
}
.content-plan h3{
    text-align: center;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
}
.content-plan ul li{
    list-style: none;
    padding: 5px 5px 5px 5px;
    color: var(--cor-primaria);
}
.plan-btn{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    margin-bottom: 10px;
}
.plan-btn input{
    height: 40px;
    width: 150px;
    border: 1px solid #372eb5;
    background-color: #e4e4e4;
    color: #272727;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
.price-plan{
    position: relative;
    background-color: #fff;
    top:-30px;
    left: 17px;
    width: 250px;
    height: 160px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px --cor-secundaria;
}
.price-plan h3,
.price-plan p{
    color: var(--cor-terciaria);
}
.price-plan h3{
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 20px;
}
.price-plan p{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}
.box{
    height: 1000px;
    background-color: #272727;
}
@media (max-width:800px){
    .main-background h1{
        font-size: 44px;
    }
    .main-background p{
        font-size: 20px;
    }
    .section-beneficios{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .box-beneficios{
        padding: 0em 0em 4em 0em;
    }
}
@media (max-width:1200px){
    .box-plans{
        flex-wrap: wrap;
    }
    .content-plan{
        margin: 30px 25px;
    }
}