*{
    padding: 0;
    margin: 0;
    font-family: helvetica;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: #4f535a;
}
.logo{
    display: flex;
    margin-left: 25px;
    text-decoration: none;
    height: 80px;
    align-items: center;
    color: #fff;
    font-size: 14px;
}
.navbar-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 80px;
    margin-right: 60px;
    padding: 0px 1em 0px 1em;
    column-gap: 10px;
}
.navbar-content li{
    display: flex;
    line-height: 40px;
}
.navbar-content li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
.nav-btn{
    background-color:#432EB5 ;
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
    height: 40px;
    color: #fff;
}
